<ul>
    <li><a href="{{ path('client_available_items') }}">List available</a></li>
    <li><a href="{{ path('client_unavailable_items') }}">List unavailable</a></li>
    <li><a href="{{ path('client_item_add') }}">Create</a></li>
    <li><a href="{{ path('client_find_item') }}">Search</a></li>
</ul>
